<template lang="pug">
  table
    thead
      tr
        th(v-for="item in head") {{ item }}
    tbody
      tr(v-for="item in data")
        td(v-for="_item in item") {{ _item }}
</template>

<script>
  export default {
    name: "app-table",
    props: {
      data: {
        type: Array,
        required: true,
      }
    },
    computed: {
      head() {
        let head = [];

        if ("undefined" === typeof this.data || "undefined" === typeof this.data[0]) {
          return head;
        }

        for (let key in this.data[0]) {
          if (this.data[0].hasOwnProperty(key)) {
            head.push(key);
          }
        }

        return head;
      }
    }
  }
</script>

<style lang="scss" scoped>
  $borderTabs: 1px solid #CCCCCC;

  table {
    width: 100%;
    border-collapse: collapse;
    border: $borderTabs;

    & th,
    & td {
      border: $borderTabs;
      padding: 10px;
      text-align: left;
    }

    & tr:nth-child(2n) {
      background: #EFEFEF;
    }
  }
</style>
