<template lang="pug">
  div.app-component
    div.app-component__panel
      div.app-component__panel__left
        ul.app-component__tabs
          li(v-for="item in tabs")(:class="{ 'active': item.table === currentTable }")
            a(href="#")(@click.prevent="currentTable = item.table") {{ item.name }}
      div.app-component__panel__right
        div.app-component__search
          input(type="search")
    div.app-component__tables
      div.app-component__table
        app-table(:data="firstTable")(v-if="'first_table' === currentTable")
        app-table(:data="secondTable")(v-if="'second_table' === currentTable")
</template>

<script>
  import AppTable from "./components/AppTable";
  import axios from "axios";

  export default {
    name: "app",
    components: {
      AppTable
    },
    data() {
      return {
        tabs: [
          {table: "first_table", name: "First"},
          {table: "second_table", name: "Second"},
        ],
        firstTable: [],
        secondTable: [],

        currentTable: "first_table"
      }
    },
    created() {
      this.getData("https://raw.githubusercontent.com/avallakh/InitGroupTST/master/Table1.json")
        .then(resp => {
          this.firstTable = resp.data.tenders;
        })
        .catch(err => {
          console.error(err);
        });

      this.getData("https://raw.githubusercontent.com/avallakh/InitGroupTST/master/Table2.json")
        .then(resp => {
          this.secondTable = resp.data.companies;
        })
        .catch(err => {
          console.error(err);
        })
    },
    methods: {
      getData(url) {
        return new Promise((resolve, reject) => {
          axios.get(url)
            .then(resp => {
              resolve(resp);
            })
            .catch(err => {
              reject(err);
            })
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  $borderTabs: 1px solid #CCCCCC;

  .app-component {
    width: 100%;
    max-width: 1024px;
    margin: 15px auto;

    &__panel {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__tabs {
      list-style: none;
      padding: 0;
      margin: 0;

      & li {
        display: inline-block;
        padding: 10px 15px;

        & a {
          display: block;
          color: #000000;
          text-decoration: none;
        }

        &.active {
          border: {
            left: $borderTabs;
            top: $borderTabs;
            right: $borderTabs;
          }
          border-radius: 5px 5px 0 0;
        }
      }
    }

    &__search {
      width: 200px;

      & input {
        width: 100%;
        height: 24px;
        line-height: 24px;
        border-radius: 5px;
        border: $borderTabs;
        padding-left: 5px;

        &:focus {
          outline: none;
          border-color: #000000;
        }
      }
    }
  }
</style>
